#General excludes
*.lnk
.cache/
*.bak
*.orig
**/.DS_Store
**/.vscode*
**/vscode*
.editorconfig
**/__pycache__/
/release/

#Siliabs project specific
#General part
**/.trash
*.project
*.cproject
*.projectlinkstore
**/.projectlinkstore
**/.idea/
**/GNU ARM v*
**/.projectlinkstore
**/.makefile
**/.settings
**/.pdm
**/.uceditor
**/autogen/*.crc
**/autogen/.slc_state/*.crc
**/*_report.html
**/*.zap~
#IAR is not supported
projects/*/*_iar_cmake/
projects/*/autogen/linkerfile.icf
#Ignore all build directories
projects/*/artifact/
projects/*/build/
projects/*/*_cmake/build/

## Documentation related ignores.
## Modify them if it is necessary
*.docx
*.doc
*.ppt
*.pdf
*.xlsx
*.xls
*.html
#Ignore python virtual envs
projects/*/.venv/
**/venv
#ignore pyinstaller related files
**/dist/
*.spec
#ignore wav file
*.wav
#ignore log files
*.log
